doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    title Chat
    |     
    link(rel='stylesheet', href='stylesheets/styles.css')
    |     
    script(src='javascripts/all.js')
    |     
    script(src='/socket.io/socket.io.js')
  body
    #app-container
  script.
    var socket = io();
