#Dialog {
  text-align: center;

  .dialog-holder {
    width: 700px;
    height: 650px;
    border: 1px solid grey;
    border-radius: .4em;
    margin: 30px auto 10px;
  }

  .clear, .send, .text-panel {
    display: inline-block;
    height: 200px;
    border: 1px solid grey;
    border-radius: .4em;
  }

  .clear, .send {
    background: darkred;
    margin: 0 15px;
    width: 60px;
  }

  .send {
    background: darkgreen;
  }

  .text-panel {
    width: 700px;
    padding: 10px 15px;
  }
}