#Settings {

  .nav-container {
    position: absolute;
    margin: auto;
    width: 700px;
    height: 775px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

   .settings-box {
     display: inline-block;
     &.you {margin-right: 4px;}
     width: 348px;

     .box-title {
       display: block;
       height: 172px;
       text-align: center;
       line-height: 172px;
       font-size: 40px;
       border-radius: 8px;
       background: #80C7E2;
       margin-bottom: 4px;
     }

     .gender {
       &:nth-child(3) {margin-right: 4px;}
       display: inline-block;
       width: 172px;
       text-align: center;
       height: 172px;
       line-height: 172px;
       background: #5B5D55;
       border-radius: 8px;
       font-size: 54px;
       position: relative;
     }

     input {
       width: 100%;
       position: absolute;
       top: 0;
       left: 0;
       height: 100%;
       opacity: 0;
       display: none;
     }

     input:checked + label {
       background: mediumaquamarine;
     }

     .age-container {
       margin-top: 4px;

       .age-btn {
         &:nth-child(2) {margin-bottom: 4px}
         font-family: 'Dancing Script', cursive;
         display: inline-block;
         width: 172px;
         text-align: center;
         height: 172px;
         line-height: 172px;
         background: #5B5D55;
         border-radius: 8px;
         font-size: 54px;
         -webkit-touch-callout: none;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
       }

       label.right {
         margin-right: 4px;
       }

       input:checked + label.age-btn {
         background: #66CDAA;
       }
     }
   }

   .root-actions {
     width: 100%;

     .root-btn {
       &:hover {
         background: #5AA760;
       }
       &.reset-btn {
         &:hover {background: #FF5454}
       }
       &:nth-child(1) {margin-right: 4px}
       display: inline-block;
       width: 348px;
       line-height: 71px;
       text-align: center;
       background: #80C7E2;
       margin-top: 4px;
       font-size: 26px;
       border-radius: 8px;
       height: 71px;
       font-family: 'Open Sans Condensed', sans-serif;
     }
   }
 }
}