@import 'settings';
@import 'dialog';

@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body, #app-container, #Settings, #Dialog {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: auto;
  font-family: 'Open Sans Condensed', sans-serif;
}